VITE_SUPABASE_URL=https://yulhhgibtwkmuevrrscg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1bGhoZ2lidHdrbXVldnJyc2NnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMTk4NDYsImV4cCI6MjA4Njc5NTg0Nn0.Dz6sZikrWQTEHJBXOZ1gOsenEv6ZI1WT5wRUfUi6d2M
VITE_API_URL=http://localhost:4242
VITE_SOCKET_URL=http://localhost:4242
VITE_ADMIN_EMAILS=admin@medlink.bg,plamsky05@gmail.com
